.App {
  text-align: center;
}

img {
  animation: App-logo-spin infinite 20s linear;
  height: 100vh;
}

@media screen and (max-width: 1450px) { 
  .hide-on-medium {
    display: none;
  }
  img {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }
}

.App-header {
  background-color: #bdbdbd;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

